<!DOCTYPE HTML>
  <html>
    <head>
      <title></title>
    </head>
  <body>
<form action="/figures" method="post">
  <input type="text" name="figure[name]" id="figure_name">
  <br><br>

  <% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%= title.id %>">
  <% end %>
  <br><br>

  <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%= landmark.id %>">
  <% end %>
  <br><br>

  <label>Create A New Landmark</label>
  <input type="text" name="new_landmark" id="landmark[name]">
  <br><br>

  <label>Create A New Title</label>
  <input type="text" name="new_title" id="title[name]">
  <br><br>

  <input type="submit" value="Create New Figure">

</form>
  </body>
</html>
